{{!--<div>
    <a href="/">Главная</a>
    <a href="/rent">Аренда</a>
</div>--}}

   
<div id="rec102445009" class="r t-rec" style=" " data-record-type="270" >
    <div class="t270" >

    </div>
    <script type="text/javascript"> 
        $(document).ready(function(){ 
            setTimeout(function(){ 
                var $root = $('html, body'); 
                $('a[href*="#"]:not([href="#"],.carousel-control,.t-carousel__control,[href^="#price"],[href^="#popup"],[href^="#prodpopup"],[href^="#order"])').click(function() { 
                    var target = $(this.hash); 
                    if (target.length == 0){ 
                        target = $('a[name="' + this.hash.substr(1) + '"]'); 
                    } 
                    if (target.length == 0){ 
                        return true; 
                    } 
                    $root.animate({ scrollTop: target.offset().top + 3 }, 500); 

                    return false; 
                }); 
            }, 500);
        }); 
    </script>
</div>
<div id="rec102445010" class="r t-rec" style=" " data-animationappear="off" data-record-type="446" >
    <!-- T446 -->
    <div id="nav102445010marker"></div>
    <div id="nav102445010" class="t446 t446__positionstatic " style="background-color: rgba(255,243,82,1); height:120px; box-shadow: 0px 1px 3px rgba(0,0,0,0.0);" data-bgcolor-hex="#fff352" data-bgcolor-rgba="rgba(255,243,82,1)" data-navmarker="nav102445010marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="0" data-bgopacity="1" data-menu-items-align="left" data-menu="yes"> 
        <div class="t446__maincontainer " style="height:120px;"> 
            <div class="t446__logowrapper"> 
                <div class="t446__logowrapper2"> 
                    <div > 
                        <a href="/" style="color:#000000;font-size:28px;font-weight:600;"> 
                            <div class="t446__logo t-title" field="title" style="color:#000000;font-size:28px;font-weight:600;">ALL CLEANING SERVICE</div> 
                        </a> 
                    </div> 
                </div> 
            </div> 
            
            <div class="t446__leftwrapper" style=" text-align: left;"> 
                <div class="t446__leftmenuwrapper"> 
                    <ul class="t446__list"> 
                        {{#if home}}
                            <li class="t446__list_item">
                                <a class="t-menu__link-item" href="#cleaning" style="color:#000000;font-weight:600;" data-menu-item-number="1">Клининговые услуги</a>
                            </li> 
                            <li class="t446__list_item">
                                <a class="t-menu__link-item" href="/rent" style="color:#000000;font-weight:600;" data-menu-item-number="2">Аренда техники</a>
                            </li>
                        {{else}} 
                            <li class="t446__list_item">
                                <a class="t-menu__link-item" href="/" style="color:#000000;font-weight:600;" data-menu-item-number="1">Клининговые услуги</a>
                            </li> 
                            <li class="t446__list_item">
                                <a class="t-menu__link-item" href="#rent" style="color:#000000;font-weight:600;" data-menu-item-number="2">Аренда техники</a>
                            </li>
                        {{/if}}
                        

                    </ul> 
                </div> 
            </div> 

            <div class="t446__rightwrapper" style=" text-align: right;"> 
                <div class="t446__rightmenuwrapper"> 
                    <ul class="t446__list"> </ul> 
                </div> 
                <div class="t446__additionalwrapper"> 
                    <div class="t446__right_descr" style="">
                        г. Нур-Султан (Астана)<br />
                        <a href="tel:+77479360246">+ 7 (747) 936-02-46</a><br />
                        Режим работы<br />
                        Пн-пт: 09:00 - 18:00
                    </div> 
                    <div class="t446__right_buttons"> 
                        <div class="t446__right_buttons_wrap"> 
                            <div class="t446__right_buttons_but">
                                <a href="#form" target="" class="t-btn " style="color:#000000;background-color:#ffffff;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
                                    <table style="width:100%; height:100%;">
                                        <tr>
                                            <td>Сделать заказ</td>
                                        </tr>
                                    </table>
                                </a>
                            </div> 
                        </div>
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
        
    <script type="text/javascript">	
        $(document).ready(function() { 
            t446_setLogoPadding('102445010'); 
        });	
        var t446__doResize; 
        $(window).resize(function(){ 
            t446_checkOverflow('102445010', '120'); 
            clearTimeout(t446__doResize); 
            t446__doResize = setTimeout(function() { 
                t446_checkOverflow('102445010', '120'); 
            }, 200); 
        }); 
        $(window).load(function() { 
            t446_checkOverflow('102445010', '120'); 
        });	
        $(document).ready(function() { 
            t446_checkOverflow('102445010', '120'); 
        }); 
        $(document).ready(function() { t446_highlight(); });
        $(window).resize(function() { t446_setBg('102445010');});
        $(document).ready(function() { t446_setBg('102445010');});
    </script>

    <style>
        #rec102445010 .t-menu__link-item{ -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out; transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out; position: relative;	}
        #rec102445010 .t-menu__link-item::after { content: ''; position: absolute; left: 0;	bottom: 20%;	opacity: 0;	width: 100%;	height: 100%;	border-bottom: px solid ; -webkit-box-shadow: inset 0px -px 0px 0px ; -moz-box-shadow: inset 0px -px 0px 0px ; box-shadow: inset 0px -px 0px 0px ; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
        #rec102445010 .t-menu__link-item.t-active{ color:#000000 !important; }
        #rec102445010 .t-menu__link-item.t-active::after { opacity: 1; bottom: -1px; border-bottom: 1px solid #0000FF; -webkit-box-shadow: inset 0px -1px 0px 0px #0000FF; -moz-box-shadow: inset 0px -1px 0px 0px #0000FF; box-shadow: inset 0px -1px 0px 0px #0000FF;}
        @supports (overflow:-webkit-marquee) and (justify-content:inherit) { 
            #rec102445010 .t-menu__link-item, #rec102445010 .t-menu__link-item.t-active { opacity: 1 !important; }
        }
    </style> 
    <!--[if IE 8]>
        <style>
            #rec102445010 .t446 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9fff352', endColorstr='#D9fff352');}
        </style>
    <![endif]--> 
</div>




