<div class="page__header">
    <div class="container header-container">
        <div class="page-header">
            <div class="page-header__page-link">
                <ul class="page-link">
                    {{#if home}}
                    <li class="page-link__item">
                        <a href="#cleaning" class="page-link__link">
                            Клининговые услуги
                        </a>
                    </li>
                    <li class="page-link__item">
                        <a href="/rent" class="page-link__link">
                            Аренда техники
                        </a>
                    </li>
                    {{else}} 
                    <li class="page-link__item">
                        <a href="/" class="page-link__link">
                            Клининговые услуги
                        </a>
                    </li>
                    <li class="page-link__item">
                        <a href="#rent" class="page-link__link">
                            Аренда техники
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="page-header__title">
                <a href="/" class="home">
                    ALL CLEANING SERVICE
                </a>
            </div>
            <div class="page-header__contact">
                <div class="contact">
                    <div class="contact__text-box">
                        <div class="text text_s13">
                            г. Нур-Султан (Астана)
                        </div>
                        <a href="tel:+77479360246" class="call">+ 7 (747) 936-02-46</a>
                        <div class="text text_s13">
                            Режим работы
                        </div>
                        <div class="text text_s13">
                            Пн-пт: 09:00 - 18:00
                        </div>
                    </div>
                    <div class="page-header__btn">
                        <a href="#form" class="btn btn_bg_fff">
                            Сделать заказ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>