<div class="page__preview" id="cleaning">
    <div class="container">
        <div class="page-preview">
            <div class="page-preview__title">
                <h1>
                    <div class="text text_s40">  
                        МЫ ПРЕДОСТАВЛЯЕМ ШИРОКИЙ СПЕКТР КЛИНИНГОВЫХ УСЛУГ
                    </div>
                </h1>
            </div>
            <div class="page-preview__info">
                <div class="text">
                    Существует мнение, что чистое пространство вокруг нас - это залог психологического и физического здоровья. 
                    Поэтому уборка помещений - важная часть жизни современного человека. Мы, клининговая компания считаем, что чистота - это неотъемлемая часть имиджа организации. 
                    Клининг-услуги на сегодняшний день становятся более популярные. Все виды клининговых услуг будут оказаны нашим клиентам оперативно и в максимально короткие сроки, с использованием самых современных технологий, химических средств и профессионального оборудования в соответствии со строгими стандартами качества.
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-wrapp">
        <svg class="triangle" style="fill: rgb(255, 243, 82); width: 300%; height: 1.5vw;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 10" preserveAspectRatio="none"> 
            <path d="M992 8.2L983.8 0l-8.2 8.2-8.2-8.2-8.2 8.2L951 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L869 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L787 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L705 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L623 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L541 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L459 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L377 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L295 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L213 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L131 0l-8.2 8.2-8.2-8.2-8.2 8.2L98.2 0 90 8.2 81.8 0l-8.2 8.2L65.4 0l-8.2 8.2L49 0l-8.2 8.2L32.6 0l-8.2 8.2L16.2 0 8 8.2-.2 0v10h1000.4V0"></path> 
        </svg>
    </div>
</div>
<div class="page__grid-box">
    <div class="container">
        <div class="title">
            <h2>
                <div class="text text_s28">
                    Профессиональные услуги по уборке помещений
                </div>
            </h2> 
        </div>
        <div class="grid-box">
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/1.svg" alt="Помещения социальной сферы">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Помещения социальной сферы
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/2.svg" alt="Офисы">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Офисы
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/3.svg" alt="Промышленные здания">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Промышленные здания
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/4.svg" alt="Торгово-развлекательные центры">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Торгово-развлекательные центры
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/5.svg" alt="Спортивные сооружения">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Спортивные сооружения
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/6.svg" alt="Складские помещения">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Складские помещения
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/7.svg" alt="Производственные помещения">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Производственные помещения
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-box__item">
                <div class="grid-item">
                    <div class="grid-item__img-box">
                        <img src="/svg/9.svg" alt="Паркинги и крытые парковки">
                    </div>
                    <div class="grid-item__text-box">
                        <div class="text text_s18">
                            Паркинги и крытые парковки
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page__advantages">
    <div class="container">
        <div class="title title_mb_100">
            <div class="text text_s28">
                Наши преимущества
            </div>
        </div>
        <div class="page-advantages">
            <div class="page-advantages__item">
                <div class="advantages-item">
                    <div class="advantages-item__img-box">
                        <div class="advantages-item__img-wrapper">
                            <img src="/svg/Path.svg" alt="" class="advantages-item__img">
                        </div>
                    </div>
                    <div class="advantages-item__text-box">
                        <div class="text text_s18a">
                            При проведении всех видов работ, наша компания использует только профессиональное оборудование немецкой фирмы <strong>Karcher</strong>. Это оборудование имеет высокую производительность, низкий уровень шума и достаточную мощность, что делает процесс профессиональной уборки качественным и позволяет в кратчайшие сроки убрать большую территорию.
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-advantages__item">
                <div class="advantages-item">
                    <div class="advantages-item__img-box">
                        <div class="advantages-item__img-wrapper">
                            <img src="/svg/Path.svg" alt="" class="advantages-item__img">
                        </div>
                    </div>
                    <div class="advantages-item__text-box">
                        <div class="text text_s18a">
                            В целях достижения необходимого уровня чистоты и порядка, в процессе производимых работ используются специальные технологии и моющие химические составы немецкой фирмы <strong>Karcher</strong>, которые помогают справиться с различными видами загрязнений.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-block">
            <div class="text text_s20">
                Мы работаем с 2015 года. С тех пор мы научились работать и с небольшими, и с крупными заказами. Мы всегда следим за качеством оборудования и выполняемой работы.
            </div>
        </div>
    </div>
</div>