{{!--<h1>Главная страница</h1>--}}


<div id="rec102445031" class="r t-rec" style=" " data-record-type="215" >
    <a name="cleaning" style="font-size:0;"></a>
</div>

<div id="rec102445011" class="r t-rec t-rec_pt_30 t-rec_pb_15" style="padding-top:30px;padding-bottom:15px;background-color:#fff352; " data-record-type="30" data-bg-color="#fff352">
    <!-- T015 -->
    <div class="t015"> 
        <div class="t-container t-align_left"> 
            <div class="t-col t-col_12 "> 
                <h1 class="t015__title t-title t-title_lg" field="title" style="">
                    <div style="font-size:40px;" data-customstyle="yes">
                        МЫ ПРЕДОСТАВЛЯЕМ ШИРОКИЙ СПЕКТР КЛИНИНГОВЫХ УСЛУГ
                    </div>
                </h1> 
                <div class="t015__descr t-descr t-descr_xl" field="descr" style="">
                    <div style="font-size:18px;" data-customstyle="yes">
                        Существует мнение, что чистое пространство вокруг нас - это залог психологического и физического здоровья. 
                        Поэтому уборка помещений - важная часть жизни современного человека. Мы, клининговая компания считаем, что чистота - это неотъемлемая часть имиджа организации. 
                        Клининг-услуги на сегодняшний день становятся более популярные. Все виды клининговых услуг будут оказаны нашим клиентам оперативно и в максимально короткие сроки, с использованием самых современных технологий, химических средств и профессионального оборудования в соответствии со строгими стандартами качества.
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>

<div id="rec102445013" class="r t-rec" style=" " data-animationappear="off" data-record-type="796" >
    <!-- T796 -->
    <div class="t796"> 
        <div class="t796__shape-border t796__shape-border_top"> 
            <svg class="t796__svg" style="width:300%;height:1.5vw;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 10" preserveAspectRatio="none"> 
                <path d="M992 8.2L983.8 0l-8.2 8.2-8.2-8.2-8.2 8.2L951 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L869 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L787 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L705 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L623 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L541 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L459 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L377 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L295 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L213 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L131 0l-8.2 8.2-8.2-8.2-8.2 8.2L98.2 0 90 8.2 81.8 0l-8.2 8.2L65.4 0l-8.2 8.2L49 0l-8.2 8.2L32.6 0l-8.2 8.2L16.2 0 8 8.2-.2 0v10h1000.4V0"/> 
            </svg> 
        </div> 
    </div>
    <script type="text/javascript"> $(document).ready(function() { t796_init('102445013'); });</script>
</div>

<div id="rec102445014" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; " data-record-type="128" >
    <!-- T120 -->
    <div class="t120"> 
        <div class="t-container t-align_left"> 
            <div class="t-col t-col_10 "> 
                <h2 class="t120__title t-heading t-heading_sm" field="title" style="">
                    Профессиональные услуги по уборки помещений
                </h2> 
            </div> 
        </div>
    </div>
</div>



<div id="rec102445015" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; " data-record-type="490" >
    <!-- t490 -->
    <div class="t490"><div class="t-container"> 

        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/Tilda_Icons_45_quest_city.svg" class="t490__img t-img" imgfield="li_img__1476968690512" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1476968690512">
                    Помещения социальной сферы
                </div> 
                
            </div> 
        </div> 

        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/Tilda_Icons_28_law_company.svg" class="t490__img t-img" imgfield="li_img__1552311587690" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1552311587690">
                    Офисы
                </div> 
            </div> 
        </div> 
        
        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/re_helmet.svg" class="t490__img t-img" imgfield="li_img__1476968700508" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1476968700508">
                    Промышленные здания
                </div> 
            </div> 
        </div> 
        
        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/3st_cart.svg" class="t490__img t-img" imgfield="li_img__1476968722790" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1476968722790">
                    Торгово-развлекательные центры<br />
                </div> 
            </div> 
        </div> 
        

        <div class="t-clear t490__separator" style="margin-bottom:70px;">
        </div> 
        

        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/field.svg" class="t490__img t-img" imgfield="li_img__1552312361323" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1552312361323">
                    Спортивные сооружения
                </div> 
            </div> 
        </div> 
        
        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/Tilda_Icons_43_logistics_warehouse.svg" class="t490__img t-img" imgfield="li_img__1552312363893" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1552312363893">
                    Складские помещения<br />
                </div> 
            </div> 
        </div>
        
        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/Tilda_Icons_43_logistics_conveyor.svg" class="t490__img t-img" imgfield="li_img__1552312367443" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1552312367443">Производственные помещения<br />
                </div> 
            </div> 
        </div> 
        
        <div class="t490__col t-col t-col_3 t-align_center t-item"> 
            <img src="/svg/Tilda_Icons_38_Cleaning_company_cleanhouse.svg" class="t490__img t-img" imgfield="li_img__1556695772565" style="width:150px;" /> 
            <div class="t490__wrappercenter "> 
                <div class="t-name t-name_sm" style="" field="li_title__1556695772565">
                    Жилые помещения <br />
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>


<div id="rec102445020" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px;background-color:#f7f7f7; " data-record-type="128" data-bg-color="#f7f7f7">
    <!-- T120 -->
    <div class="t120"> 
        <div class="t-container t-align_left"> 
            <div class="t-col t-col_10 "> 
                <div class="t120__title t-heading t-heading_sm" field="title" style="">
                    Наши преимущества 
                </div> 
            </div> 
        </div>
    </div>
</div>

<div id="rec102445022" class="r t-rec t-rec_pt_75 t-rec_pb_75" style="padding-top:75px;padding-bottom:75px;background-color:#f7f7f7; " data-animationappear="off" data-record-type="841" data-bg-color="#f7f7f7">
    <!-- t841 -->
    <div class="t841">
        <div class="t841__container t-container">
            <div class="t-col t-col_6 t841__col_first t-item"> 
                <div class="t-cell t-valign_top"> 
                    <div class="t841__imgwrapper" style="width:75px;"> 
                        <img src="/svg/Path.svg" class="t841__img t-img" imgfield="li_img__1531119252292" /> 
                    </div> 
                </div> 
                
                <div class="t841__textwrapper t-cell t-valign_top" style=""> 
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531119252292">
                        При проведении всех видов работ, наша компания использует только профессиональное оборудование немецкой фирмы <strong>Karcher</strong>. Это оборудование имеет высокую производительность, низкий уровень шума и достаточную мощность, что делает процесс профессиональной уборки качественным и позволяет в кратчайшие сроки убрать большую территорию.
                    </div> 
                </div> 
            </div>
            <div class="t-col t-col_6 t-item"> 
                <div class="t-cell t-valign_top"> 
                    <div class="t841__imgwrapper" style="width:75px;"> 
                        <img src="/svg/Path.svg" class="t841__img t-img" imgfield="li_img__1531119273285" /> 
                    </div> 
                </div> 
                
                <div class="t841__textwrapper t-cell t-valign_top" style=""> 
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531119273285">
                        В целях достижения необходимого уровня чистоты и порядка, в процессе производимых работ используются специальные технологии и моющие химические составы немецкой фирмы <strong>Karcher</strong>, которые помогают справиться с различными видами загрязнений.
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="rec102445029" class="r t-rec t-rec_pt_0 t-rec_pb_105" style="padding-top:0px;padding-bottom:105px;background-color:#f7f7f7; " data-record-type="106" data-bg-color="#f7f7f7">
    <!-- T004 -->
    <div class="t004">
        <div class="t-container "> 
            <div class="t-col t-col_8 t-prefix_2">
                <div field="text" class="t-text t-text_md " style="">
                    <div style="text-align:center;" data-customstyle="yes">
                        Мы работаем с 2015 года. С тех пор мы научились работать и с небольшими, и с крупными заказами. Мы всегда следим за качеством оборудования и выполняемой работы.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

