<div class="page__preview" id="rent">
    <div class="container">
        <div class="page-preview">
            <div class="page-preview__title">
                <h1>
                    <div class="text text_s40">
                        АРЕНДА ПРОФЕССИОНАЛЬНОЙ УБОРОЧНОЙ ТЕХНИКИ KARCHER
                    </div>
                </h1>
            </div>
            <div class="page-preview__info">
                <div class="text">
                    Аренда профессиональной техники <strong>KARCHER</strong> - это правильный выбор. Зачем покупать технику, если её можно взять в аренду и опробовать в деле. У нас Вы сможете арендовать уборочную технику и оборудование, даже взять в аренду пылесос на выгодных для себя условиях и на нужный срок. По вопросам аренды пылесосов и другой уборочной техники обращайтесь к нашим экспертам! Мы поможем Вам как с выбором, так и с доставкой уборочного оборудования. <br />Вся техника предоставляется в аренду с нашим водителем.
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-wrapp">
        <svg class="triangle" style="fill: rgb(255, 243, 82); width: 300%; height: 1.5vw;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 10" preserveAspectRatio="none"> 
            <path d="M992 8.2L983.8 0l-8.2 8.2-8.2-8.2-8.2 8.2L951 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L869 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L787 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L705 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L623 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L541 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L459 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L377 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L295 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L213 0l-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2-8.2-8.2-8.2 8.2L131 0l-8.2 8.2-8.2-8.2-8.2 8.2L98.2 0 90 8.2 81.8 0l-8.2 8.2L65.4 0l-8.2 8.2L49 0l-8.2 8.2L32.6 0l-8.2 8.2L16.2 0 8 8.2-.2 0v10h1000.4V0"></path> 
        </svg>
    </div>
</div>
<div class="page__grid-box">
    <div class="container">
        <div class="title title_mb_100">
            <h2>
                <div class="text text_s20 text_bold">
                    Поломоечные машины
                </div>
            </h2>
        </div>
        <div class="grid-vehicle">
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/111.png" alt="Поломоечная машина B 95 RS Bp Pack" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Поломоечная машина B 95 RS Bp Pack
                    </div>
                    <div class="vehicle-item__text">
                        Поломоечная машина с управлением стоя B 95 RS Bp Pack. Эту машину удобно применять в помещениях с нестандартной формой. Давление контакта щетки и количество подаваемой воды можно настраивать в зависимости от типа поверхности. Всасывающая балка гарантирует полное всасывание грязной воды, даже на крутых поворотах. Поверхность моментально становится чистой и сухой.
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/121.jpg" alt="Поломоечная машина B 90 R Classic Bp Pack" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Поломоечная машина B 90 R Classic Bp Pack
                    </div>
                    <div class="vehicle-item__text">
                        Поломоечная машина, управляемая водителем, с питанием от аккумуляторной батареи. Универсальная машина B 90 R Classic Bp Pack с баком повышенной емкости (90 л.) и переменной рабочей шириной (55-75 см). Можно использовать роликовые и дисковые щеточные насадки.                          
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/131.png" alt="Поломоечная машина BD 50/40 RS Bp Pack" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Поломоечная машина BD 50/40 RS Bp Pack
                    </div>
                    <div class="vehicle-item__text">
                        Поломоечная машина с шириной захвата 51 см и емкостью бака 40 л. Отличная модель, которая сочетает в себе легкость управления и высокий уровень маневренности. Предназначена для уборки средних по размеру помещений.                     
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/211.jpg" alt="Поломоечная машина BR 530 Ep" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Поломоечная машина BR 530 Ep
                    </div>
                    <div class="vehicle-item__text">
                        Поломойно-всасывающая машина Karcher BR 530 Ep, работающая от сети, предназначена для уборки средних по размеру помещений.
                    </div>
                </div> 
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/221.jpg" alt="Уборочная машина BDS 43/180 C Adv" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Уборочная машина BDS 43/180 C Adv
                    </div>
                    <div class="vehicle-item__text">
                        Многоцелевая низкоскоростная (180 об/мин) однодисковая машина Karcher универсального применения с двойной рукояткой и розеткой для всасывающего устройства. Обеспечивает легкую и тщательную очистку твердых и текстильных напольных покрытий. Бак для рабочего раствора (доступен отдельно) может легко сниматься для заправки. Версия с падодержателем.                        
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/231.jpg" alt="Уборочная машина BDS 43/180 C Adv" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Уборочная машина BDS 43/180 C Adv
                    </div>
                    <div class="vehicle-item__text">
                        Многоцелевая низкоскоростная (180 об/мин) однодисковая машина Karcher универсального применения с двойной рукояткой и розеткой для всасывающего устройства. Обеспечивает легкую и тщательную очистку твердых и текстильных напольных покрытий. Бак для рабочего раствора (доступен отдельно) может легко сниматься для заправки. Специальная версия со щеткой.
                    </div>
                </div> 
            </div>
        </div>
        <div class="title title_mb_100">
            <h2>
                <div class="text text_s20 text_bold">
                    Пылесосы
                </div>
            </h2>
        </div>
        <div class="grid-vehicle">
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/311.jpg" alt="Пылесос сухой уборки T 15/1 HEPA" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Пылесос сухой уборки T 15/1 HEPA
                    </div>
                    <div class="vehicle-item__text">
                        Тихое устройство объединяет в себе высокую эргономику и комфорт благодаря полной интеграции всасывающего шланга, кабеля электропитания и аксессуаров. Этот пылесос оснащен фильтром HEPA для гигиеничной чистоты помещений в отелях, госпиталях, детских учреждениях и прочее.                         
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/321.jpg" alt="Пылесос сухой и влажной уборки XPERT NT 360" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Пылесос сухой и влажной уборки XPERT NT 360
                    </div>
                    <div class="vehicle-item__text">
                        Мощный пылесос NT 360 Eco Xpert - превосходное бюджетное решение для уборки небольших площадей: мобильный и надежный пылесос влажной и сухой уборки в стандартном исполнении эффективно собирает как воду, так и мусор любого рода.                          
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/331.jpg" alt="Щеточный пылесос CV 38/2 ADV" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Щеточный пылесос CV 38/2 ADV
                    </div>
                    <div class="vehicle-item__text">
                        Двухмоторный вертикальный пылесос CV 38/2 Adv с рабочей шириной 380 мм, эластичным шлангом и телескопической трубкой для чистки, расчесывания и обновления текстильных полов/столбов в отелях, бутиках, магазинах, выставочных залах, офисах, торговых центрах и в домашнем хозяйстве.                           
                    </div>
                </div>
            </div>
        </div>
        <div class="title title_mb_100">
            <h2>
                <div class="text text_s20 text_bold">
                    Машины для уборки лестниц и эскалаторов
                </div>
            </h2>
        </div>
        <div class="grid-vehicle">
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/411.jpg" alt="Аппарат для очистки эскалаторов BR 47/35 Esc" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Аппарат для очистки эскалаторов BR 47/35 Esc
                    </div>
                    <div class="vehicle-item__text">
                        Специализированная машина BR 47/35 Esc предназначена для мойки эскалаторов и травалаторов. Основными ее преимуществами является простота установки и использования и отсутствие вмешательства в схему управления эскалатором.                          
                    </div>
                </div>
            </div>
            <div class="grid-vehicle__item">
                <div class="vehicle-item">
                    <div class="vehicle-item__img-box">
                        <img src="/images/421.png" alt="Аппарат для очистки лестниц BD 17/5 C" class="vehicle-item__img">
                    </div>
                    <div class="vehicle-item__title">
                        Аппарат для очистки лестниц BD 17/5 C
                    </div>
                    <div class="vehicle-item__text">
                        Компактная, с питанием от электросети однодисковая машина для мытья, в том числе с использованием моющих средств, полирования, кристаллизации различных поверхностей небольшой площади, например ступенек и подоконников.                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>